Package: com.xyaman.cucu
Name: Cucu
Version: 0.0.1
Architecture: iphoneos-arm
Description: Customize your notifications banners
Maintainer: Xyaman
Author: Xyaman
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.xyaman.libkuro, com.mrgcgamer.libgcuniversal, ws.hbang.common (>= 1.17)
Depiction: https://repo.xyaman.xyz/depictions/index.html?p=cucu
SileoDepiction: https://repo.xyaman.xyz/depictions/cucu/depiction.json
Icon: https://repo.xyaman.xyz/depictions/cucu/assets/icon.png
